<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head"); %>
  <body>
    <%- include("../partials/menu.ejs"); %>

    <section class="container">
      <div class="image_container">
        <h1>Seja bem-vindo ao nosso site</h1>
      </div>
      <p style="font-size: 35px" ,>
        Navegue nas opções do menu acima para conhecer e se conectar
      </p>
    </section>

    <%- include("../partials/footer"); %> <%# Este é um comentário em EJS %>
  </body>
</html>
